.meme-container {
  margin-bottom: 1.5rem;
  column-count: 1;
  width: 100%;
}

a {
  display: inline-block;
  width: 100%;
  margin: 0.5rem 0;
  text-decoration: none;
  font-size: small;
  color: black;
}

a:hover {
  box-shadow: 1px 1px 3px rgb(0,0,255,0.5);
  transform: scale(1.05);
  transition: transform 0.25s ease-in-out;
}

@media (min-width: 425px) {
  .meme-container {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .meme-container {
    column-count: 3;
  }
}

@media (min-width: 1024px) {
  .meme-container {
    column-count: 4;
  }
}